.navpanel {
	height: 100%;
}

.navpanel h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
    font-size: 3.4rem;
    color: white;
    position: absolute;
    bottom: 0;
}

.content {
	padding: 2rem;
}

#main-title {
	background-image: url('http://dailybruin.com/images/2015/09/main-reg-15-cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#main-title h3{

	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 200;
	color:white;
	margin-left: 55%;
}

#main-title h1{

	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	color:white;
	margin-left: 55%;
}

#news-nav {
	background-image: url('http://dailybruin.com/images/2015/09/news-cover-web.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#opinion-nav {
	background-image: url('http://dailybruin.com/images/2015/09/opinion-cover-web.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 70% center;
}

#ae-nav {
	background-image: url('http://dailybruin.com/images/2015/09/ae-cover-web.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#sports-nav {
	background-image: url('http://dailybruin.com/images/2015/09/sports-cover-web.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}




@media only screen and (min-width: 64.063em) { 
	#main-title {
		background-position-y: 33%;
	}

	.navpanel h2 {
		transform: rotate(90deg);
		font-size: 4.5rem;
	}

	#news-nav h2 {
		bottom: 76%;
    	left: -8%;
	}

	#opinion-nav h2 {
		bottom: 72%;
		left: -20%;
	}

	#ae-nav h2 {
	    bottom: 35%;
	    left: -25%;
	    line-height: 5rem;
	}

	#sports-nav h2 {
		bottom: 51%;
    	left: -6%;
	}

}

@media only screen and (max-width: 64em) {
	.navpanel {
		height: 25%;
	}

	#opinion-nav {
		background-position: 50% 22%;
	}

	#news-nav {
		background-position: 50% 38%;
	}

	#sports-nav {
		background-position: 50% 53%;
	}

	#ae-nav {
		background-position: 50% 27%;
	}
}